#contact-google-map{
    position: relative;
    top: 125px;
    padding: 2px 4px;
    margin-top: 54px;
    margin-bottom: 54px;
}

@media (max-width: 767px) {
    #contact-google-map{
        position: relative;
        top: 125px;
        padding: 2px 4px;
        margin-top: 24px;
    }
}

iframe{
    width: 100%;
}

.contact-form form{
    position: absolute;
    top: 45px;
    right: 20%;
    height: 550px;
    display: flex;
    flex-direction:column;
    width: 24rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 34px;
    border-radius: 12px;
    z-index: 99;
    background: #ffffff;
}

@media (max-width: 767px){
    .contact-form form{
        position: relative;
        top: 45px;
        left: 0%;
        margin: 0 auto;
        height: 550px;
        display: flex;
        flex-direction:column;
        width: 90vw;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        padding: 34px;
        border-radius: 12px;
        z-index: 99;
        background: #ffffff;
    }
}

.contact-form form h2{
    font-size: 1.5rem;
    font-weight: bold;
    color: #141b2e;
}

.contact-form form input, textarea{
    padding: 8px;
    margin: 12px 0px !important;
    background: #f5f7fb;
    font-family: 'Lato';
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #f1f1f1;
    border-radius: 6px;
}

textarea{
}

input.contact-send-btn{
    border: none;
    padding: 12px 54px !important;
    border-radius: 34px !important;
    background:#227ef9 !important;
    color: #ffffff;
    transition: 0.456s all;
    width: fit-content;
}

input.contact-send-btn:hover{
    cursor: pointer;
    background: #0151cc !important;
    transition: 0.456s all;
    color: #ffffff;
}
